<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<string>Red</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Yellow</string>
		<string>Orange</string>
		<string>Pink</string>
		<string>Purple</string>
		<string>Gray</string>
	</array>
	<key>students</key>
	<array>
		<dict>
			<key>studentID</key>
			<integer>2</integer>
			<key>studentName</key>
			<string>Vipul</string>
			<key>city</key>
			<string>Mohali</string>
		</dict>
		<dict>
			<key>studentID</key>
			<integer>1</integer>
			<key>studentName</key>
			<string>Pritesh Patel</string>
			<key>city</key>
			<string>Toronto</string>
		</dict>
		<dict>
			<key>studentID</key>
			<integer>3</integer>
			<key>studentName</key>
			<string>Gurvinder Singh</string>
			<key>city</key>
			<string>North York</string>
		</dict>
	</array>
</dict>
</plist>
